.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 20px auto;
  border-bottom: 2px solid #ededed;
  z-index: 999;
}

.nav-input input {
  width: 300px;
  padding: 10px;
  font-size: 20px;
  border: 0;
  background-color: rgb(238, 234, 234);
}

.nav-icons a {
  padding: 10px;
}

.icon {
  width: 50px;
  height: 30px;
  color: rgb(16, 4, 7);
}

@media (max-width: 670px) {
  .navbar-container {
    width: 100%;
    justify-content: center;
  }

  .nav-input input {
    width: 200px;
    padding: 5px;
  }

  .nav-icons {
    display: flex;
  }

  .icon {
    width: 30px;
    height: 25px;
  }
}

@media (max-width: 960px) {
  .navbar-container {
    display: flex;
    justify-content: center;
  }
  .nav-input input {
    margin-left: 30px;
  }
}
